body{
    background-color: rgb(206, 201, 201);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}
#navbar{
    width: 100%;
    position:fixed;
    top:0;
    left:0;
}
#navbar-line{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height:5%;
    background-color: black;
}
#navbar-line2{
    background-color: rgb(102, 3, 3); 
    position:fixed;
    top:5%;
    left:0;
    width: 100%;
}
#navbar ul{
    display:flex;
    list-style: none;
}
#navbar li{
    flex:0 0 140px; 
}
#navbar a {
    color: white;
    text-decoration: none;
    }
#navbar a:hover{
    color: black;
}
#navbar a:active{
    color:yellowgreen;
}

#welcome-section{
    height:100vh;
    width: 100%;
    color:black;
    display:flex;
    flex-direction: row;
}
.welcome-col{
    flex:1 1 0;
    display: flex;
    flex-direction: column;    
}
.welcome-row{
    text-align: center;
    flex:1 1 0;
}

#projects{
    border-top-style: dotted;
    display:flex;
    flex-wrap: wrap;   
    text-align: center;
}
a{
    flex: 1 1 33%;
    color: black;
    text-decoration: none;
}
#projects a:hover{
    color: Darkred;
}
.project-tile{
    margin-top:20px;
    margin-bottom:20px;
    flex: 1 1 33%;
}
@media screen and (max-width: 600px) {
    .project-tile{
        flex: 1 1 50%;
    }
}

